body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 2100px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background-color: #482915;
    color: white;
    border-bottom: 2px solid #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar a:hover {
    color: #d37f00;
}

.navbar a.active {
    color: #d37f00;
    font-weight: 700;
    border-bottom: 2px solid;

}

.gambar-bg-section {
    color: white;
    text-align: center;
    padding: 80px 10px;
    position: relative;
    overflow: hidden;
}

.container-gambar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gambar-bg {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.text-bg {
    position: relative;
    z-index: 2;
}

.gambar-bg-section h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.gambar-bg-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}